@media only screen and (max-width:600px){

    .grid-container{
        height: calc(100vh - -800px);
    }

    .footer-index{
        height: 280px;
    }

    h2{
        font-size: 1rem;
    }


    .fila1-Img{
    
    img{

        width:$tamanio-img2 ;
        height: $tamanio-img2;

        }

    }   

    .fila2-Img{
    
    img{

        width: $tamanio-img2;
        height: $tamanio-img2;

        }

    }

    .fila3-Img{ 
    
    img{

        width: $tamanio-img2;
        height: $tamanio-img2;

        }

    }



    .fila1-Img{
    
    p{

        font-size: 1.5rem;
        transform: translate(30px, -105px);
        color: $color-negro;

    }

}


    .fila2-Img{
    
    p{

        font-size: 1.5rem;
        transform: translate(0px, -105px);
        color: $color-negro;

    }

}

    .fila3-Img{
    
    p{

        font-size: 1.5rem;
        transform: translate(40px, -105px);
        color: $color-negro;

    }

}

.aside{
    display: $valor-flex;
    flex-direction: $valor-column;
    justify-items: $valor-center;
    align-items: $valor-center;
    justify-content: $valor-center;
}

.imagenes-grid{
    width: $valor-auto;
    height: $valor-auto;
    padding: 10px;
    display: $valor-flex;
    flex-direction: $valor-column;
    justify-content: $valor-center;
    align-content: $valor-center;
    justify-items: $valor-center;
    align-items: $valor-center;
}

    .mainContainer{
        height: calc(100vh - -550px);
    }

    .footerNos{
        height: 250px;
    }




.h1-prod{
    font-size: 0.8rem;
    padding: 10px;
    font-size:1rem ;
}

#nuestrosVasos{
    margin: 130px;
    align-items: $valor-center;
    justify-content: $valor-center;
    text-align: $valor-center;
    justify-items: $valor-center;
}





    section{
    
    h2{
        font-size: 1rem;
    }

}

    .navIndex{
        max-height: fit-content;
    }

}

@media only screen and (max-width:768px){

    .grid-container{
        height: calc(100vh - -900px);
    }

    .imagenes-grid{
        display: $valor-flex;
        flex-direction: $valor-column;
    }

    .fila2-Img{
        display: $valor-flex;
        align-items: flex-start;
    }

    .aside{
        display: $valor-flex;
        margin: right $tamanio-img;
    }

    .navIndex{
        max-height: fit-content;
    }
    
}

@media only screen and (max-width: 1440px){


    footer{
        display: $valor-flex;
        flex-direction: row;
        justify-content: space-around;
    }
    


}

@media only screen and (min-width: 1440px){

    .grid-container{
        height: calc(80vh - -110px);
    }

    .mainContainer{
        height: calc(100vh - -100px);
    }

    .footerNos{
        height: 165px;
    }

}