
$color-negro: black;
$sacar-margin: 0;
$color-blanco: white;
$cursor-img: pointer;
$width-heigth-100: 100%;
$valor-auto: auto;
$valor-none: none;
$valor-flex: flex;
$valor-grids: grid;
$valor-center: center;
$valor-column: column;
$transition: all 0.3s ease-in-out;
$gap: 1em;
$tamanio-img: 200px;
$tamanio-img2: 150px;
$fraccion: 1fr;
$transform: scale(1.1);
$min-heigth: 100vh;
$hidden: hidden;
$absolute: absolute;




body{
    font-family: 'Oswald', sans-serif;
    background-image:url("./ImgAvengers1.jpg");
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: $valor-center $valor-center;
    margin: $sacar-margin;
    min-height: $min-heigth;
    color: $color-blanco;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

li{
    list-style: $valor-none;
}

a{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: $valor-none;
    color: $color-blanco;
}

.grid-container{
    display: $valor-grids;
    grid-template-columns: repeat(2, $fraccion);
    margin: $sacar-margin;
    gap: $gap;
}

.logo{
    grid-column: 1 / 3;
    grid-row: 1;
}

header{
    background-color: #505153af;
    margin: $sacar-margin;
    display: $valor-flex;
    align-items: $valor-center;
    min-width: $tamanio-img;
}

.menu{
    
    grid-column: 2 / 3;
    grid-row: 1;
    min-width: $tamanio-img;
}

.grid-section{
    grid-column: 1 / 2;
    grid-row: 2;
}

.grid-section {

    a{
    color: $color-negro;
    font-weight: bold;
    }
    
}

.aside{
    grid-column: 2 / 3;
    grid-row: 2;
    display: $valor-flex;
    flex-direction: $valor-column;
    text-align: $valor-center;
    padding: 10px;
    color: $color-blanco;

}



footer{
    font-family:'Courier New', Courier, monospace;
    grid-column: 1 / 3;
    display: $valor-flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#505153af;
    text-align: $valor-center;
    padding: 0px;
    margin-top: $valor-auto;
    bottom: 0;

}

footer{

    p{
        text-align: $valor-center;
        color:$color-blanco;
        font-size: 1.7rem;
    }
    
}

footer{

    h2{
        display: $valor-flex;
        text-align: $valor-center;
        align-items: $valor-center ;
        color: $color-blanco;
    }
    
}


.imagenes-grid{
    display: $valor-grids;
    grid-template-columns: repeat(3, $fraccion);
    grid-template-rows: repeat(1, $fraccion);
    gap: $gap;
    justify-items: $valor-center;
    padding: 20px;
}




.fila1-Img{
    grid-column: 1 / 2;
    grid-row: 1;
    display: $valor-flex;
    flex-direction: $valor-column;
    justify-items: $valor-center;
}

.fila2-Img{
    grid-column: 2 / 3;
    grid-row: 1;
    display: $valor-flex;
    flex-direction: $valor-column;
    align-items: $valor-center;
    justify-items: $valor-center;
    justify-content: $valor-center;
    
}

.fila3-Img{
    grid-column: 3 / 4;
    display: $valor-flex;
    flex-direction: $valor-column;
}



.menuFlex{
    display: $valor-flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items:$valor-center;
}


.fila1-Img{

    img{
        width: $tamanio-img;
        height: $tamanio-img;
        overflow: $hidden;
        border-radius: 20px;
        box-shadow: 5px 8px 12px $color-negro;
        cursor: $cursor-img;
        transition: $transition;
    }
    
}

.fila1-Img{

    p{
        font-size: 2rem;
        transform: translate(50px, -130px);
        color: $color-negro;
    }
    
}

.fila1-Img{

    img{

        &:hover{

            transform: $transform;
            box-shadow: 5px 8px 24px;

        }
    
    }
    
}

.fila2-Img {

    img{

        width: $tamanio-img;
        height: $tamanio-img;
        overflow: $hidden;
        border-radius: 20px;
        box-shadow: 5px 8px 12px $color-negro;
        cursor: $cursor-img;
        transition: $transition;

    }

}

.fila2-Img{

    p{

        font-size: 2rem;
        transform: translate(5px, -130px);
        color: $color-negro;

    }   

}

.fila2-Img{

    img{

        &:hover{

            transform: $transform;
            box-shadow: 5px 8px 24px;

        }
        
    }

}

.fila3-Img{

    img{

        width: $tamanio-img;
        height: $tamanio-img;
        overflow: $hidden;
        border-radius: 20px;
        box-shadow: 5px 8px 12px $color-negro;
        cursor: $cursor-img;
        transition: $transition;

    }

}

.fila3-Img{

    p{

        font-size: 2rem;
        transform: translate(60px, -130px);
        color: $color-negro;

    }

}

.fila3-Img{

    img{

        &:hover{

            transform: $transform;
            box-shadow: 5px 8px 24px;

        }

    }

}

.imgLogo{
    width: 80px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px;
    margin-left: 5px;
}

.marvelFan{
    font-family:'Times New Roman', Times, serif;
    display: $valor-flex;
    position: $absolute;
    transform: translate(100px, -60px);
    color: $color-blanco;
}

a{

    &:hover{

        color:rgb(252, 0, 0);

    }
}

.menuindex{
    display:$valor-flex;
    justify-content: space-between;
}

.menuindex{

    nav{

        ul{

            display:$valor-flex;
            justify-content: space-around;
            margin: 5px;

        }

    }

}

.menuFlex{

    li{

        display:$valor-flex;
        justify-content: space-around;
        padding: 5px;

    }

}

/* MEDIAS QUERIES*/

@media only screen and (max-width:600px){

    body{
        font-size: 0.8rem;
    }



    h2{
        font-size: 1rem;
    }

    .menuFlex{
        display:$valor-flex;
        flex-direction: $valor-column;
        justify-items: $valor-center;
        align-items: $valor-center;
        justify-content: space-around;
    }

    .menu{
        display:$valor-flex;
        flex-direction: $valor-column;
        align-items: $valor-center;
    }
    

    .fila1-Img{
    
    img{

        width:$tamanio-img2 ;
        height: $tamanio-img2;

    }

}

    .fila2-Img{
    
    img{

        width: $tamanio-img2;
        height: $tamanio-img2;

    }

}

    .fila3-Img{ 
    
    img{

        width: $tamanio-img2;
        height: $tamanio-img2;

    }

}

}

    .fila1-Img{
    
    p{

        font-size: 1.5rem;
        transform: translate(30px, -105px);
        color: $color-negro;

    }

}


    .fila2-Img{
    
    p{

        font-size: 1.5rem;
        transform: translate(0px, -105px);
        color: $color-negro;

    }

}

    .fila3-Img{
    
    p{

        font-size: 1.5rem;
        transform: translate(40px, -105px);
        color: $color-negro;

    }

}

    .aside{
        display: $valor-flex;
        flex-direction: $valor-column;
        justify-items: $valor-center;
        align-items: $valor-center;
        justify-content: $valor-center;
    }

    .imagenes-grid{
        width: $valor-auto;
        height: $valor-auto;
        padding: 10px;
        display: $valor-flex;
        flex-direction: $valor-column;
        justify-content: $valor-center;
        align-content: $valor-center;
        justify-items: $valor-center;
        align-items: $valor-center;
    }

    footer{
        width: $width-heigth-100;
        height: $valor-auto;
        grid-column: 1 / 3;
        align-items: $valor-center;
        justify-content: $valor-center;
        justify-items: $valor-center;
        display: $valor-flex;
        flex-direction: $valor-column;
        padding: 0;
        margin: $sacar-margin;
        font-size: 0.5rem;

    }

    .h1-prod{
        font-size: 0.8rem;
        padding: 10px;
        font-size:1rem ;
    }

    #nuestrosVasos{
        margin: 130px;
        align-items: $valor-center;
        justify-content: $valor-center;
        text-align: $valor-center;
        justify-items: $valor-center;
    }

    .menuProd{
    
    a{
        display: $valor-flex;
        flex-direction: $valor-column;
        padding: 3px;
        margin: 5px;
        font-size: 1.2rem;
    }

}



    .headerProd{
        display: $valor-flex;
        flex-direction: $valor-column;
        height: $width-heigth-100;

    }

    section{
    
    h2{
        font-size: 1rem;
    }

}

@media only screen and (max-width:768px){

    .headerProd{
    display: $valor-flex;
    flex-direction: $valor-column;
}

.menuProd{

    a{
        display: $valor-flex;
        flex-direction: $valor-column;
        padding: 0;
    }

}

.menuFlex{
    display: $valor-flex;
    flex-direction: $valor-column;
}

.imagenes-grid{
    display: $valor-flex;
    flex-direction: $valor-column;
}

.fila2-Img{
    display: $valor-flex;
    align-items: flex-start;
}

.aside{
    display: $valor-flex;
    margin: right $tamanio-img;
}
    

footer{
    display: $valor-flex;
    flex-direction: $valor-column;
    padding: 0.5em;
}

}

@media only screen and (max-width: 1440px){


    footer{
        display: $valor-flex;
        flex-direction: row;
        justify-content: space-around;
    }
}





/* PRODUCTOS */

.productos-grid-cont{
    display: $valor-grids;
    grid-template-columns:repeat(2, $fraccion);
    grid-template-rows: repeat(5, $valor-auto);
}

.productos-grid-cont{

    p{
        color: $color-blanco;
    }

}

.productos-grid-cont{

    h2{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: $color-blanco;
        font-size: 1.8rem;
    }

}

.productos-grid-cont{

    h3{
        font-size: 1.5rem;
        text-align: $valor-center;
        color: $color-blanco;
    }

}



.productos-grid-cont{

    img{
        width: $tamanio-img2;
        height: $tamanio-img2;
        border-radius: 20px;
        cursor: $cursor-img;
        box-shadow: 2px 4px 10px;
        transition: $transition;
    }

}

.productos-grid-cont{

    img{


        &:hover{
            transform: $transform;
            box-shadow: 2px 4px 10px;
        }

    }

}

.h1-prod{
    font-size: 1.5rem;
    color: $color-blanco;
    margin-left: 10px;

}

.menuProd{
    display: $valor-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: $valor-center;
    padding: 1px;
    width: 70%;
    font-size: 20px;
}




.menuProd{

    a{
        padding: 40px;

    }

}

.menuProd{

    ul{
        display: $valor-flex;
        flex-direction: row;
    }

}

.headerProd{
    background-color: #5A0AEF;
    display: $valor-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: $valor-center;
    grid-column: 1 / 4;
    grid-row: 1;
}


#nuestrosMates{
    grid-column: 1 / 2;
    grid-row: 2;
    display: $valor-flex;
    flex-direction: $valor-column;
    align-items: $valor-center;
    justify-items: $valor-center;
    gap: $gap;
    text-align: $valor-center;
}

#nuestrasTazas{
    grid-column: 2 / 4;
    grid-row: 2;
    display: $valor-flex;
    flex-direction: $valor-column;
    justify-items: $valor-center;
    align-items: $valor-center;
    gap: $gap;
    text-align: $valor-center;
}

#nuestrosVasos{
    grid-column: 1 / 4;
    grid-row: 3;
    display: $valor-flex;
    flex-flow: row nowrap;
    justify-content: $valor-center;
    align-items: $valor-center;
    gap: $gap;
    text-align: $valor-center;
}

#nuestrosVasos{

    h2{
        position: $absolute;
        transform: translate(0px,-250px);
    }

}

#nuestrosStickers{
    grid-column: 1 / 2;
    grid-row: 4;
    display: $valor-flex;
    flex-direction: $valor-column;
    align-items: $valor-center;
    justify-items: $valor-center;
    gap: $gap;
    text-align: $valor-center;
}

#nuestrasRemeras{
    grid-column: 2 / 4;
    grid-row: 4;
    display: $valor-flex;
    flex-direction: $valor-column;
    align-items: $valor-center;
    justify-items: $valor-center;
    justify-content: $valor-center;
    gap: $gap;
    text-align: $valor-center;
    margin-bottom: 15px;
}


.img-mate.prod{
    display: $valor-flex;
    align-items: $valor-center;
}


/* NOSOTROS */

.footerNos{
    bottom: 0;
    margin-top: $valor-auto;
    color: $color-blanco;

}
/* CONTACTANOS */

/*DONDE ESTAMOS */

.imgMapa{
    width: $width-heigth-100;
    padding: $gap;
    border-radius: 30px;
    margin: 10px 20px;
}

.footerDonde{
    margin: $sacar-margin;
    margin-bottom: $sacar-margin;
}


